:root {
  --header-bg: #333333;
  --link-color: #48c46d;
  --white: #f8f8f8;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

form {
  margin: 0 auto;
  max-width: 640px;
  width: 90%;
}

input,
textarea {
  width: 100%;
  margin-bottom: 16px;
}


.App-header {
  background-color: var(--header-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  color: var(--white);
}

.button {
  display: inline-block;
  margin: 16px auto;
  padding: 16px 32px;

  background-color: var(--header-bg);
  border-radius: 4px;
}

.layout-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 16px;
}

.posts-listing {
  margin: 0;
  padding: 0;

  list-style: none;
}

.posts-listing li {
  margin-bottom: 16px;

  font-size: 24px;
}
